@model EmployeeWithImgString

@if (Model != null)
{
    <div class="col-lg-3 col-sm-6 mb-3">
        <div class="card pt-2">
            @if (Model.ImgDataString != null)
            {
                <img src="@Model.ImgDataString" class="card-image" alt="employee picture">
            }
            else
            {
                <img src="https://dummyimage.com/120" class="card-image" alt="employee picture">
            }
            <div class="card-body pb-1">
                <a class="name-link"
                   asp-controller="Diagram"
                   asp-action="Chart"
                   asp-route-empId="@Model.Employee.EmployeeId">
                    <h5 class="card-title">@Model.Employee.FirstName @Model.Employee.LastName</h5>
                </a>
                <p class="card-entry">@Model.Employee.Position</p>
                <p class="card-entry">@Model.Employee.Office</p>
                <a class="icon-link" title="Detail"
                   asp-controller="Employee"
                   asp-action="Detail"
                   asp-route-empId="@Model.Employee.EmployeeId">
                    <i class="fas fa-search-plus"></i>
                </a>
                <a class="icon-link" title="Edit"
                   asp-controller="Employee"
                   asp-action="Edit"
                   asp-route-empId="@Model.Employee.EmployeeId"
                   asp-route-isEdit="true">
                    <i class="far fa-edit"></i>
                </a>
                <a class="icon-link" title="Delete"
                   asp-controller="Employee"
                   asp-action="DeletePreview"
                   asp-route-empId="@Model.Employee.EmployeeId">
                    <i class="fas fa-trash"></i>
                </a>
                <a class="arrow-link" title="Up Chart"
                   asp-controller="Diagram"
                   asp-action="Chart"
                   asp-route-empId="@Model.Employee.ManagerId">
                    <i class="fas fa-arrow-up"></i>
                </a>
                <a class="arrow-link" title="Down Chart"
                   asp-controller="Diagram"
                   asp-action="Chart"
                   asp-route-empId="@Model.Employee.EmployeeId">
                    <i class="fas fa-arrow-down"></i>
                </a>
                <div class="text-center mt-2">
                    <a class="icon-link" title="Add Employee"
                       asp-controller="Employee"
                       asp-action="Edit"
                       asp-route-empId="@Model.Employee.EmployeeId"
                       asp-route-isEdit="false">
                        <i class="fas fa-plus-circle"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
}
